In [35]:
import pandas as pd 
import re 
import os 
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import pyodbc

load_dotenv() 

driver = os.getenv("DRIVER")
server = os.getenv("AZURE_SERVER_NAME")
database = os.getenv("AZURE_DATABASE_NAME")
username = os.getenv("AZURE_DATABASE_USERNAME")
password = os.getenv("AZURE_DATABASE_PASSWORD")

conn = pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)

In [62]:
with conn.cursor() as cursor: 
    insert_query = """
    DROP TABLE incidents_location
    """
    cursor.execute(insert_query)

In [63]:
with conn.cursor() as cursor: 
    insert_query = """
    DROP TABLE incidents
    """
    cursor.execute(insert_query)

In [64]:
with conn.cursor() as cursor: 
    insert_query = """
    DROP TABLE ci_location
    """
    cursor.execute(insert_query)

In [65]:
with conn.cursor() as cursor: 
    insert_query = """
    DROP TABLE incidents_embeddings
    """
    cursor.execute(insert_query)

In [4]:
with conn.cursor() as cursor: 
    create_table_query = """
    CREATE TABLE incidents_embeddings (
        incident_number VARCHAR(50) PRIMARY KEY, 
        description TEXT NOT NULL, 
        category_full VARCHAR(100) NOT NULL, 
        ci_name VARCHAR(100) NOT NULL, 
        location_full VARCHAR(300),
        docs VARCHAR(8000),
        resulted_embeddings VARCHAR(MAX)
    );
    """
    cursor.execute(create_table_query)

In [66]:
with conn.cursor() as cursor: 
    insert_query = """
    DROP TABLE incidents_clusters
    """
    cursor.execute(insert_query)

In [21]:

with conn.cursor() as cursor:
    create_table_query = """
    CREATE TABLE incidents_clusters (
    incident_number VARCHAR(50) PRIMARY KEY, 
        description TEXT NOT NULL, 
        category_full VARCHAR(100) NOT NULL, 
        ci_name VARCHAR(100) NOT NULL, 
        location_full VARCHAR(300),
        docs VARCHAR(8000),
        resulted_embeddings VARCHAR(MAX),
        clusters INT
    )
    """

    cursor.execute(create_table_query)

In [67]:
with conn.cursor() as cursor: 
    insert_query = """
    DROP TABLE incidents_title
    """
    cursor.execute(insert_query)

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot drop the table 'incidents_title', because it does not exist or you do not have permission. (3701) (SQLExecDirectW)")

In [23]:

with conn.cursor() as cursor:
    create_table_query = """
    CREATE TABLE incidents_title (
    incident_number VARCHAR(50) PRIMARY KEY, 
        description TEXT NOT NULL, 
        category_full VARCHAR(100) NOT NULL, 
        ci_name VARCHAR(100) NOT NULL, 
        location_full VARCHAR(300),
        docs VARCHAR(8000),
        resulted_embeddings VARCHAR(MAX),
        clusters INT,
        problem_title VARCHAR (300)
    )
    """

    cursor.execute(create_table_query)

In [68]:
with conn.cursor() as cursor: 
    insert_query = """
    DROP TABLE clusters_title
    """
    cursor.execute(insert_query)

In [25]:

with conn.cursor() as cursor:
    create_table_query = """
    CREATE TABLE clusters_title (
        cluster INT PRIMARY KEY,
        problem_title VARCHAR (300)
    )
    """

    cursor.execute(create_table_query)